<!doctype html>
<html ng-app="MekManager" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" cotent="device-width, initial-scale=1.0"/>
    <title>MekManager</title>
  </head>
  <body ng-controller="characterController as ctrl">
    <h1>Hello, World!</h1>
    <p>{{ctrl.words}}</p>
    <button ng-click="ctrl.printAll()">List Characters</button>
    <button ng-click="ctrl.add()">Add a character</button>
    <button ng-click="ctrl.badAdd()">Screw up adding a character</button>
    <script src="./bundle.js"></script>
  </body>
</html>
